# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Macros
**/*.haste_size_map

# Local env files
.env*.local
.env

# Typescript
*.tsbuildinfo

# OSX
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
logs
*.log
